<!-- 
    创建一个机器人模型(盒状即可)，显示在 Gazebo 中 
-->

<robot name="mycar">
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.5 0.2 0.1" />
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <material name="yellow">
                <color rgba="0.5 0.3 0.0 1" />
            </material>
        </visual>
        <!-- 碰撞参数 如果是标准几何体直接复制visual的geometry和origin-->
        <collision>
            <geometry>
                <box size="0.5 0.2 0.1" />
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        </collision>
        <!-- 惯性矩阵 -->
        <inertial>
            <!-- 重心的偏移 -->
            <origin xyz="0 0 0" />
            <!-- 质量 -->
            <mass value="6" />
            <!-- 不同维度的惯性值 -->
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
    </link>
    <!-- gazebo颜色设置 -->
    <gazebo reference="base_link">
        <material>Gazebo/Black</material>
    </gazebo>

</robot>
