<launch>
<!-- 启动rviz -->
    <!-- 坐标系统需要转换，添加点云坐标变换到kinect -->
    <!-- 在kinect.launch上有说明 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" 
                        args="0 0 0 -1.57 0 -1.57 /support /support_depth" />
                        <!-- 参数分别是(偏移量x,y,z，欧拉角yall,pitch,roll) rpy(xyz)-->

    <!-- 启动 rivz -->
    <node pkg="rviz" type="rviz" name="rviz_test" args="-d $(find urdf02_gazebo)/launch/config/test_car.rviz" />

    <!-- 启动机器人状态和关节状态发布节点 -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />


</launch>